## Churn Prediction

In [1]:
import keras

Using TensorFlow backend.

In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [31]:
dataset=pd.read_csv('new churn.txt')
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [32]:
X=dataset.iloc[:,3:13]
Y=dataset.iloc[:,13]

In [33]:
Y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [34]:
geography=pd.get_dummies(X['Geography'],drop_first=True)
gender=pd.get_dummies(X['Gender'],drop_first=True)

In [37]:
gender.head()

   Male
0     0
1     0
2     0
3     0
4     0

In [38]:
X=pd.concat([X,geography,gender],axis=1)

In [39]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,France,Female,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,1,0

In [40]:
XX=X.copy()

In [41]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,France,Female,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,1,0

In [42]:
X.drop(['Geography','Gender'],axis=1,inplace=True)

In [43]:
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
7706,667,31,5,0.00,2,1,1,20346.69,0,1,1
7707,848,35,5,120046.74,2,1,0,84710.65,0,1,1
7708,486,39,8,97819.36,1,0,1,120531.31,0,0,0
7709,598,64,1,62979.93,1,1,1,152273.57,0,1,0
7710,506,40,3,0.00,1,1,1,144345.58,0,0,0

In [44]:
X.Male.value_counts()

1    4177
0    3534
Name: Male, dtype: int64

In [45]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=0)

In [47]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [54]:
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [55]:
x_train

array([[ 0.34009365,  1.8068514 , -1.40342874, ..., -0.57360606,
        -0.57310682, -1.08180525],
       [ 0.89031623,  0.1945012 ,  0.68059705, ..., -0.57360606,
        -0.57310682,  0.9243808 ],
       [-1.64278394, -1.89206965, -1.05609111, ...,  1.74335674,
        -0.57310682,  0.9243808 ],
       ...,
       [-1.54934992,  1.61716314, -1.40342874, ..., -0.57360606,
        -0.57310682,  0.9243808 ],
       [ 1.71045931, -0.7539401 , -1.40342874, ..., -0.57360606,
        -0.57310682,  0.9243808 ],
       [-0.27241828,  0.8584101 , -1.40342874, ...,  1.74335674,
        -0.57310682, -1.08180525]])

In [56]:
x_test

array([[ 0.44902031, -0.37112512,  0.02940601, ..., -0.57460631,
        -0.59955931,  0.90175439],
       [ 2.00146847,  0.11764755,  0.02940601, ..., -0.57460631,
        -0.59955931, -1.10894941],
       [-1.03240081,  1.29070194, -1.35604367, ..., -0.57460631,
        -0.59955931,  0.90175439],
       ...,
       [-0.00758209, -0.07786152, -1.35604367, ..., -0.57460631,
         1.66789171, -1.10894941],
       [ 1.99132175, -1.15316138, -1.7024061 , ..., -0.57460631,
        -0.59955931,  0.90175439],
       [-1.01210737,  0.31315661,  0.72213086, ..., -0.57460631,
         1.66789171,  0.90175439]])

In [57]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU,PReLU,ELU
from keras.layers import Dropout

In [77]:
cl=Sequential()

In [78]:
cl.add(Dense(units=6,kernel_initializer='he_uniform',activation='relu',input_dim=11))

In [79]:
cl.add(Dense(units=6,kernel_initializer='he_uniform',activation='relu'))

In [83]:
cl.add(Dense(units=1,kernel_initializer='glorot_uniform',activation='sigmoid'))

In [85]:
cl.compile(optimizer='Adamax',loss='binary_crossentropy',metrics=['accuracy'])

In [87]:
cl.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_11 (Dense)             (None, 6)                 72
_________________________________________________________________
dense_12 (Dense)             (None, 6)                 42
_________________________________________________________________
dense_14 (Dense)             (None, 1)                 7
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [88]:
m_hist=cl.fit(x_train,y_train,validation_split=0.33,batch_size=10,nb_epoch=70)

C:\Users\lenovo\.conda\envs\new\lib\site-packages\ipykernel_launcher.py:1: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """Entry point for launching an IPython kernel.

Train on 4132 samples, validate on 2036 samples
Epoch 1/70
4132/4132 [==============================] - 3s 617us/step - loss: 0.6537 - accuracy: 0.6781 - val_loss: 0.5517 - val_accuracy: 0.7873
Epoch 2/70
4132/4132 [==============================] - 1s 234us/step - loss: 0.5274 - accuracy: 0.7965 - val_loss: 0.5255 - val_accuracy: 0.7873
Epoch 3/70
4132/4132 [==============================] - 1s 234us/step - loss: 0.5088 - accuracy: 0.7965 - val_loss: 0.5142 - val_accuracy: 0.7873
Epoch 4/70
4132/4132 [==============================] - 1s 340us/step - loss: 0.4983 - accuracy: 0.7965 - val_loss: 0.5065 - val_accuracy: 0.7873
Epoch 5/70
4132/4132 [==============================] - 1s 245us/step - loss: 0.4905 - accuracy: 0.7965 - val_loss: 0.4994 - val_accuracy: 0.7873
Epoch 6/70
4132/4132 [==============================] - 1s 245us/step - loss: 0.4827 - accuracy: 0.7967 - val_loss: 0.4921 - val_accuracy: 0.7878
Epoch 7/70
4132/4132 [==============================] - 1s 245us/step - loss: 0.4746 - accuracy: 0.7962 - val_loss: 0.4841 - val_accuracy: 0.7888
Epoch 8/70
4132/4132 [==============================] - 1s 245us/step - loss: 0.4671 - accuracy: 0.7970 - val_loss: 0.4768 - val_accuracy: 0.7863
Epoch 9/70
4132/4132 [==============================] - 2s 390us/step - loss: 0.4592 - accuracy: 0.7996 - val_loss: 0.4697 - val_accuracy: 0.7859
Epoch 10/70
4132/4132 [==============================] - 2s 373us/step - loss: 0.4520 - accuracy: 0.7994 - val_loss: 0.4645 - val_accuracy: 0.7868
Epoch 11/70
4132/4132 [==============================] - 1s 353us/step - loss: 0.4462 - accuracy: 0.8013 - val_loss: 0.4593 - val_accuracy: 0.7888
Epoch 12/70
4132/4132 [==============================] - 1s 320us/step - loss: 0.4407 - accuracy: 0.8071 - val_loss: 0.4544 - val_accuracy: 0.7981
Epoch 13/70
4132/4132 [==============================] - 1s 296us/step - loss: 0.4362 - accuracy: 0.8049 - val_loss: 0.4512 - val_accuracy: 0.8006
Epoch 14/70
4132/4132 [==============================] - 2s 380us/step - loss: 0.4320 - accuracy: 0.8105 - val_loss: 0.4479 - val_accuracy: 0.8030
Epoch 15/70
4132/4132 [==============================] - 1s 340us/step - loss: 0.4285 - accuracy: 0.8120 - val_loss: 0.4461 - val_accuracy: 0.8035
Epoch 16/70
4132/4132 [==============================] - 1s 285us/step - loss: 0.4252 - accuracy: 0.8149 - val_loss: 0.4437 - val_accuracy: 0.8094
Epoch 17/70
4132/4132 [==============================] - 1s 248us/step - loss: 0.4217 - accuracy: 0.8178 - val_loss: 0.4405 - val_accuracy: 0.8099
Epoch 18/70
4132/4132 [==============================] - 1s 282us/step - loss: 0.4184 - accuracy: 0.8204 - val_loss: 0.4388 - val_accuracy: 0.8104
Epoch 19/70
4132/4132 [==============================] - 1s 279us/step - loss: 0.4154 - accuracy: 0.8199 - val_loss: 0.4352 - val_accuracy: 0.8129
Epoch 20/70
4132/4132 [==============================] - 1s 236us/step - loss: 0.4127 - accuracy: 0.8243 - val_loss: 0.4340 - val_accuracy: 0.8129
Epoch 21/70
4132/4132 [==============================] - 1s 270us/step - loss: 0.4101 - accuracy: 0.8238 - val_loss: 0.4324 - val_accuracy: 0.8139
Epoch 22/70
4132/4132 [==============================] - 1s 237us/step - loss: 0.4075 - accuracy: 0.8265 - val_loss: 0.4296 - val_accuracy: 0.8153
Epoch 23/70
4132/4132 [==============================] - 1s 236us/step - loss: 0.4050 - accuracy: 0.8272 - val_loss: 0.4284 - val_accuracy: 0.8202
Epoch 24/70
4132/4132 [==============================] - 2s 400us/step - loss: 0.4024 - accuracy: 0.8291 - val_loss: 0.4269 - val_accuracy: 0.8202
Epoch 25/70
4132/4132 [==============================] - 1s 324us/step - loss: 0.4003 - accuracy: 0.8294 - val_loss: 0.4244 - val_accuracy: 0.8217
Epoch 26/70
4132/4132 [==============================] - 1s 259us/step - loss: 0.3980 - accuracy: 0.8294 - val_loss: 0.4229 - val_accuracy: 0.8227
Epoch 27/70
4132/4132 [==============================] - 1s 250us/step - loss: 0.3960 - accuracy: 0.8303 - val_loss: 0.4208 - val_accuracy: 0.8212
Epoch 28/70
4132/4132 [==============================] - 1s 254us/step - loss: 0.3938 - accuracy: 0.8308 - val_loss: 0.4202 - val_accuracy: 0.8227
Epoch 29/70
4132/4132 [==============================] - 1s 331us/step - loss: 0.3918 - accuracy: 0.8320 - val_loss: 0.4178 - val_accuracy: 0.8222
Epoch 30/70
4132/4132 [==============================] - 1s 287us/step - loss: 0.3904 - accuracy: 0.8328 - val_loss: 0.4169 - val_accuracy: 0.8207
Epoch 31/70
4132/4132 [==============================] - 1s 246us/step - loss: 0.3886 - accuracy: 0.8345 - val_loss: 0.4161 - val_accuracy: 0.8227
Epoch 32/70
4132/4132 [==============================] - 1s 241us/step - loss: 0.3865 - accuracy: 0.8349 - val_loss: 0.4123 - val_accuracy: 0.8237
Epoch 33/70
4132/4132 [==============================] - 1s 235us/step - loss: 0.3859 - accuracy: 0.8345 - val_loss: 0.4118 - val_accuracy: 0.8237
Epoch 34/70
4132/4132 [==============================] - 1s 294us/step - loss: 0.3843 - accuracy: 0.8337 - val_loss: 0.4100 - val_accuracy: 0.8217
Epoch 35/70
4132/4132 [==============================] - 1s 276us/step - loss: 0.3832 - accuracy: 0.8345 - val_loss: 0.4095 - val_accuracy: 0.8232
Epoch 36/70
4132/4132 [==============================] - 1s 236us/step - loss: 0.3815 - accuracy: 0.8335 - val_loss: 0.4094 - val_accuracy: 0.8237
Epoch 37/70
4132/4132 [==============================] - 1s 235us/step - loss: 0.3805 - accuracy: 0.8357 - val_loss: 0.4071 - val_accuracy: 0.8222
Epoch 38/70
4132/4132 [==============================] - 1s 303us/step - loss: 0.3789 - accuracy: 0.8362 - val_loss: 0.4057 - val_accuracy: 0.8232
Epoch 39/70
4132/4132 [==============================] - 1s 344us/step - loss: 0.3779 - accuracy: 0.8383 - val_loss: 0.4047 - val_accuracy: 0.8261
Epoch 40/70
4132/4132 [==============================] - 1s 307us/step - loss: 0.3760 - accuracy: 0.8400 - val_loss: 0.4028 - val_accuracy: 0.8266
Epoch 41/70
4132/4132 [==============================] - 1s 241us/step - loss: 0.3754 - accuracy: 0.8383 - val_loss: 0.4038 - val_accuracy: 0.8247
Epoch 42/70
4132/4132 [==============================] - 1s 238us/step - loss: 0.3746 - accuracy: 0.8395 - val_loss: 0.4009 - val_accuracy: 0.8276
Epoch 43/70
4132/4132 [==============================] - 1s 242us/step - loss: 0.3734 - accuracy: 0.8400 - val_loss: 0.4006 - val_accuracy: 0.8276
Epoch 44/70
4132/4132 [==============================] - 1s 254us/step - loss: 0.3722 - accuracy: 0.8422 - val_loss: 0.3990 - val_accuracy: 0.8281
Epoch 45/70
4132/4132 [==============================] - 1s 355us/step - loss: 0.3718 - accuracy: 0.8398 - val_loss: 0.3978 - val_accuracy: 0.8296
Epoch 46/70
4132/4132 [==============================] - 1s 261us/step - loss: 0.3709 - accuracy: 0.8400 - val_loss: 0.3980 - val_accuracy: 0.8291
Epoch 47/70
4132/4132 [==============================] - 1s 248us/step - loss: 0.3694 - accuracy: 0.8422 - val_loss: 0.3969 - val_accuracy: 0.8291
Epoch 48/70
4132/4132 [==============================] - 1s 248us/step - loss: 0.3685 - accuracy: 0.8400 - val_loss: 0.3961 - val_accuracy: 0.8296
Epoch 49/70
4132/4132 [==============================] - 1s 248us/step - loss: 0.3673 - accuracy: 0.8439 - val_loss: 0.3961 - val_accuracy: 0.8306
Epoch 50/70
4132/4132 [==============================] - 1s 328us/step - loss: 0.3664 - accuracy: 0.8420 - val_loss: 0.3941 - val_accuracy: 0.8306
Epoch 51/70
4132/4132 [==============================] - 1s 279us/step - loss: 0.3650 - accuracy: 0.8444 - val_loss: 0.3952 - val_accuracy: 0.8296
Epoch 52/70
4132/4132 [==============================] - 1s 293us/step - loss: 0.3637 - accuracy: 0.8427 - val_loss: 0.3926 - val_accuracy: 0.8306
Epoch 53/70
4132/4132 [==============================] - 1s 288us/step - loss: 0.3628 - accuracy: 0.8461 - val_loss: 0.3908 - val_accuracy: 0.8301
Epoch 54/70
4132/4132 [==============================] - 1s 241us/step - loss: 0.3616 - accuracy: 0.8478 - val_loss: 0.3901 - val_accuracy: 0.8320
Epoch 55/70
4132/4132 [==============================] - 1s 283us/step - loss: 0.3606 - accuracy: 0.8470 - val_loss: 0.3895 - val_accuracy: 0.8335
Epoch 56/70
4132/4132 [==============================] - 1s 269us/step - loss: 0.3596 - accuracy: 0.8502 - val_loss: 0.3899 - val_accuracy: 0.8350
Epoch 57/70
4132/4132 [==============================] - 1s 230us/step - loss: 0.3585 - accuracy: 0.8500 - val_loss: 0.3891 - val_accuracy: 0.8360
Epoch 58/70
4132/4132 [==============================] - 1s 230us/step - loss: 0.3577 - accuracy: 0.8533 - val_loss: 0.3881 - val_accuracy: 0.8364
Epoch 59/70
4132/4132 [==============================] - 1s 231us/step - loss: 0.3561 - accuracy: 0.8521 - val_loss: 0.3860 - val_accuracy: 0.8350
Epoch 60/70
4132/4132 [==============================] - 1s 231us/step - loss: 0.3553 - accuracy: 0.8536 - val_loss: 0.3854 - val_accuracy: 0.8374
Epoch 61/70
4132/4132 [==============================] - 1s 300us/step - loss: 0.3538 - accuracy: 0.8541 - val_loss: 0.3838 - val_accuracy: 0.8374
Epoch 62/70
4132/4132 [==============================] - 1s 257us/step - loss: 0.3524 - accuracy: 0.8545 - val_loss: 0.3833 - val_accuracy: 0.8374
Epoch 63/70
4132/4132 [==============================] - 1s 329us/step - loss: 0.3513 - accuracy: 0.8560 - val_loss: 0.3820 - val_accuracy: 0.8369
Epoch 64/70
4132/4132 [==============================] - 2s 373us/step - loss: 0.3504 - accuracy: 0.8550 - val_loss: 0.3807 - val_accuracy: 0.8379
Epoch 65/70
4132/4132 [==============================] - 2s 391us/step - loss: 0.3490 - accuracy: 0.8562 - val_loss: 0.3802 - val_accuracy: 0.8389
Epoch 66/70
4132/4132 [==============================] - 2s 424us/step - loss: 0.3478 - accuracy: 0.8577 - val_loss: 0.3790 - val_accuracy: 0.8394
Epoch 67/70
4132/4132 [==============================] - 1s 335us/step - loss: 0.3462 - accuracy: 0.8565 - val_loss: 0.3811 - val_accuracy: 0.8453
Epoch 68/70
4132/4132 [==============================] - 1s 261us/step - loss: 0.3459 - accuracy: 0.8584 - val_loss: 0.3783 - val_accuracy: 0.8438
Epoch 69/70
4132/4132 [==============================] - 1s 265us/step - loss: 0.3448 - accuracy: 0.8579 - val_loss: 0.3760 - val_accuracy: 0.8423
Epoch 70/70
4132/4132 [==============================] - 1s 353us/step - loss: 0.3438 - accuracy: 0.8577 - val_loss: 0.3753 - val_accuracy: 0.8448

In [90]:
y_pred=cl.predict(x_test)

In [105]:
y_pred

array([[0.11149198],
       [0.0273287 ],
       [0.8390083 ],
       ...,
       [0.2630846 ],
       [0.00422772],
       [0.1141961 ]], dtype=float32)

In [93]:
yy_pred=y_pred.copy()

In [95]:
yy_pred=(yy_pred>0.5)

In [104]:
yy_pred

array([[False],
       [False],
       [ True],
       ...,
       [False],
       [False],
       [False]])

In [100]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,yy_pred)

In [101]:
cm

array([[1170,   58],
       [ 174,  141]], dtype=int64)